*.class
*.jar
/.lein-*
/.nrepl-port
/.repl
/.settings
/bin/
/checkouts/
/classes/
/lib/
/log/
/out/
/resources/public/js/compiled/**
/target/
figwheel_server.log
pom.xml
pom.xml.asc
.project
.classpath
