h1
{
	font-weight: 100;
	color: #30343d;
	font-size: 32px;
}

body
{
  	background: #f9f9f9;
  	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-weight: 100;
  	font-size: 14px;
}

.app
{
	text-align: center;
	margin: 10px 10px;
	width: 75%;
}

#new-game
{
	background-color: #4CAF50;
	color: white; 
	border: none;
	padding: 8px 20px;
	margin: 10px 4px 20px 4px;
	border-radius: 8px;
	font-size: 16px;
}

#board
{
	background: #ddd;
	padding: 10px 10px;
	position: relative;
	width: 600px;
	height: 600px;
}
